@charset "utf-8";

@btn-size: 7mm * 1.5;
@btn-margin: 2mm * 1.5;

body, button {
  font-family: "游ゴシック Light", "游ゴシック", "YuGothic", sans-serif;
  font-size: @btn-size - @btn-margin;
}

h1 {
  font-size: inherit;
  margin: 0;
}

.btn-rainbow {
  button {
    border: 0;
    color: white;
    height: @btn-size;
    margin: @btn-margin / 2;
    vertical-align: middle;
    width: @btn-size;
  }

  // 赤橙黄緑青藍紫
  button:nth-child(7n+1) { background: red; }
  button:nth-child(7n+2) { background: orange; }
  button:nth-child(7n+3) { background: yellow; color: #bbb; }
  button:nth-child(7n+4) { background: green; }
  button:nth-child(7n+5) { background: blue; }
  button:nth-child(7n+6) { background: darkblue; }
  button:nth-child(7n  ) { background: purple; }
}

.calc {
  position: relative;

  .calc-header {
    .calc-display {
      border: 1px #bbb solid;
      height: @btn-size;
      padding: 0 @btn-margin / 2;
      text-align: right;
      vertical-align: middle;
      width: (@btn-size + @btn-margin) * 10;
    }
  }

  .calc-body {
    .calc-body-numbers {
      .btn-rainbow;
      float: left;
      margin-right: @btn-size;
      width: (@btn-size + @btn-margin) * 4;
    }

    .calc-body-controls {
      .btn-rainbow;
      float: left;
      width: (@btn-size + @btn-margin) * 4;
    }
  }
}
